/* div{
    border: 1px red solid;
} */

/* CSS Styles */
body    {
    color: rgb(126, 123, 123);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: url("assets/cheap_diagonal_fabric.png");
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.logo{
    background: #4aaaa5;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 0px;
}
.logoLink   {
    color: white;
}
.links  {
    padding: 10px 0px;
    border-bottom: 1px solid #dddddd;
    background: white;
}
a{
    padding: 0px 15px;
    color: rgb(126, 123, 123);
    text-decoration: none;
}
.container  {
    margin-bottom: 70px;
}
.sectionTitle   {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 1.5em;
    font-weight: bold;
}
hr,
.content  {
    border: 1px solid #dddddd;
    background: white;
}
.content    {
    padding-bottom: 20px;
}
footer{
    color: white;
    font-size: 0.5em;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    padding: 15px 0px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS styles for SM */
@media (min-width: 768px)   {
    #bioImage   {
        height: 200px;
        width: 250px;
        margin-right: 20px;
        float: left;
    }
    header   {
        display: flex;
        height: 70px;
        justify-content: center;
        align-items: center;
        background: white;
        border: 1px solid #dddddd;
    }
    .navContainer {
        width: 100%;
        height: 100%;
        max-width: 716px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .links,
    .logo{
        display: flex;
        align-items: center;
        height: 100%;
        border: initial;
        padding: 20px; 
    }
    div.projectTitle   {
        width: 209.33px;
    }
    p.paraText   {
        margin: 10px 0px;
    }
}

/* CSS styles for MD - XL */
@media (min-width: 992px)   {
    .navContainer{
        max-width: 958px;
    }
    div.projectTitle   {
        width: 289.33px;
    }
}  
@media (min-width: 1200px)   {
    .navContainer{
        max-width: 1136px;
    }
    div.projectTitle   {
        width: 349.33px;
    }
}  

/* Contact.html Styles */
.formStyle label  {
    display: block;
    padding-top: 10px;
    color: #b4b3b3;
}
input {
    width: 100%;
    height: 20px;
    border: 1px #b4b3b3 solid;
}
#textBox    {
    margin-bottom: 10px;
    width: 100%;
    border: 1px #b4b3b3 solid;
}
.button    {
    background: #4aaaa5;
    padding: 7.5px 20px;
    color: #ffffff;
}
/* Portfolio CSS */
.projectImage   {
    width: 100%;
    height: 100%;
}
.projectTitle   {
    background: teal;
    color: white;
    position: absolute;
    bottom: 0px;
    margin-bottom: 10px;
    width:149.33px;
}
.projects{
    position: relative;
}
.paraText   {
    margin-bottom: 0px;
}