/* div, header{
    border: 1px red solid;
} */

/* CSS Styles */
body    {
    color: rgb(126, 123, 123);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: url("assets/cheap_diagonal_fabric.png");
}
.logo{
    background: #4aaaa5;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 0px;
}
.links  {
    padding: 10px 0px;
    border-bottom: 1px solid #dddddd;
    background: white;
}
a{
    padding: 0px 15px;
    color: rgb(126, 123, 123);
}
.sectionTitle   {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 1.5em;
    font-weight: bold;
}
hr,
.content  {
    border: 1px solid #dddddd;
    background: white;
}
footer{
    color: white;
    font-size: 0.5em;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    padding: 15px 0px;
}

/* CSS styles for SM */
@media (min-width: 768px)   {
    #bioImage   {
        height: 200px;
        width: 250px;
        margin-right: 20px;
        float: left;
    }
    footer  {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
    header   {
        display: flex;
        height: 70px;
        justify-content: center;
        align-items: center;
        background: white;
        border: 1px solid #dddddd;
    }
    .navContainer {
        width: 100%;
        height: 100%;
        max-width: 716px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .links,
    .logo{
        display: flex;
        align-items: center;
        height: 100%;
        border: initial;
        padding: 20px; 
    }
}

/* CSS styles for MD */
@media (min-width: 992px)   {
    .navContainer{
        max-width: 958px;
    }
}  
@media (min-width: 1200px)   {
    .navContainer{
        max-width: 1136px;
    }
}  